h1 {
    text-align: center;
    font-weight: 700;
}

h2 {
    font-size: 2em;
}

.inactive-timer {
    color: #fff;
    background-color: #2980b9;
    border-color: #2980b9;
}

.active-timer {
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12;
}

.timer-name {
    font-size: 2em;
    font-weight: 900;
}

.timer-time {
    font-size: 3em;
}

.participant-name {
    width: 100%;
}

.restart {
    cursor: pointer;
}

.timer-buttons {
    margin-bottom: 2em;
}

.timer-button-container {
    display: inline-block;
    width: 20%;
}

.timer-button-container button {
    height: 8em;
    width: 90%;
}